<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="con" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Plant_Vault;Data Source=DESKTOP-TB6DE35\SQL" />
    <add name="E_NurseryConnectionString" connectionString="Data Source=DESKTOP-TB6DE35\SQL;Initial Catalog=Plant_Vault;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
